# general
.DS_Store
._*
*~
*.o
*.a

# Vim swap files
*.swp

# emacs ignore certain files and directories
.emacs.d/.cache
.emacs.d/.emacs.desktop*
.emacs.d/.org-id-locations
.emacs.d/elisp/
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/init.el
.emacs.d/mytmp/
# ^^^ re-check this
.emacs.d/org-persist/
.emacs.d/recentf
.emacs.d/src/
.emacs.d/tramp
.emacs.d/tree-sitter/
.emacs.d/var/

# bin files to ignore
sshpass

# ignore other scm programs
.svn
.hg

# other
.config/btop/
.config/filezilla/
.config/gpt4all.io/
.config/gtk-2.0/
.config/htop/
.config/qBittorrent/

# ignore patterns for exult
Exult.app
*.lo
*.la
Makefile.in
.deps
.libs
