# general
.DS_Store
._*
*~
*.o
*.a
*.env
*.envrc

# Vim swap files
*.swp

# emacs ignore certain files and directories
*.elc
emacs/.emacs.d/recentf

# bin files to ignore
sshpass
awless

# ignore other scm programs
.svn
.hg

# other
tmux/.config/tmux/plugins/
kitty/.config/kitty/current-theme.conf

# emacs
emacs/.emacs.d/var/bookmarks
emacs/.emacs.d/var/history
emacs/.emacs.d/var/package-quickstart.el
emacs/.emacs.d/var/places
emacs/.emacs.d/var/projectile-bookmarks.eld
emacs/.emacs.d/var/transient/

# ignore patterns for exult
Exult.app
*.lo
*.la
Makefile.in
.deps
.libs
